/* Themes */
[ theme = "invisible" ] {
  /* --primary-color     : var(--black);
  --secondary-color   : var(--grey);
  --contrast-color    : var(--khaki);
  --muted-color       : var(--white);
  --background-color  : transparent;
  --accent-color      : var(--saffron ); */

  --primary-color     : inherit;
  --secondary-color   : inherit;
  --contrast-color    : inherit;
  --muted-color       : inherit;
 
  --background-color  : transparent;
  --accent-color      : inherit;
}

[ theme = "light" ] {
  --primary-color     : var(--black);
  --secondary-color   : var(--grey);

  --contrast-color    : var(--olive);
  --muted-color       : var(--grey);
  
  --background-color  : var(--sand);
  --accent-color      : var(--saffron);
}

[ theme = "earthy" ] {
  --primary-color     : var(--black);
  --secondary-color   : var(--khaki);

  --contrast-color    : var(--white);
  --muted-color       : var(--sand);
  /* --super-muted-color : var(--xlight-grey); */

  --background-color  : var(--sage);
  --accent-color      : var(--tumeric);
}

[ theme = "cool" ] {
  --primary-color     : var(--black);
  --secondary-color   : var(--dark-grey);

  --contrast-color    : var(--white);
  --muted-color       : var(--grey);
  
  --background-color  : var(--glacier);
  --accent-color      : var(--white);
}

[ theme = "dark" ] {
  --primary-color     : var(--white);
  --secondary-color   : var(--light-grey);

  --contrast-color    : var(--white);
  --muted-color       : var(--grey);
  
  --background-color  : var(--khaki);
  --accent-color      : var(--bright-blue);
}

[ theme = "black" ] {
  --primary-color     : var(--white);
  --secondary-color   : var(--grey);

  --contrast-color    : var(--white);
  --muted-color       : var(--grey);
  
  --background-color  : var(--black);
  --accent-color      : var(--white);
}

[ theme = "party" ] {
  --primary-color     : var(--white);
  --secondary-color   : var(--light-grey);

  --contrast-color    : var(--black);
  --muted-color       : var(--grey);
  
  /* --background-color  : var(--white); */
  --accent-color      : var(--bright-blue );

  /* background-image    :linear-gradient(#f69d3c, #3f87a6); */

  background: linear-gradient(318deg, #36b292, #b86ec8, #36bfd5);
  background-size: 600% 600%;
  
  -webkit-animation: ShiftBackground 5s ease infinite;
  -moz-animation: ShiftBackground 5s ease infinite;
  -o-animation: ShiftBackground 5s ease infinite;
  animation: ShiftBackground 5s ease infinite;
  
}