/* PAGE-BLOCKS RELATED
 * 
 * Set variables, Edit Typography 
 * ( Layout things should happen in components )
 *
 */

:is( card-card, tag-tag ) {
  &[size="sx"] { --size : var(--block-xs) }
  &[size="sm"] { --size : var(--block-sm) }
  &[size="md"] { --size : var(--block-md) }
  &[size="lg"] { --size : var(--block-lg) }
  &[size="xl"] { --size : var(--block-xl) }
  &[size="fw"] { --size : var(--block-fw) }
}

:is( card-card, tag-tag )::part( title ) {
  color       : var(--muted-color);
  font-weight : bold;
}





card-card {
  --card-gap : var( --space-lg );
}
card-card::part( header ) {
  margin-block-end: var( --space-md );
}
card-card::part( subtitle ) {
  color       : var(--muted-color);
  font-size   : smaller;
  font-weight : bold;
}
card-card::part( content ) {
  color : var(--primary-color);
}
card-card dl {
  & dd {
    margin-inline-start: 0;
    font-weight: normal;
  }
}

card-card > p {
 margin-block : 0.5em;
}