/* PAGE-SECTION RELATED
 * 
 * Set variables, Edit Typography 
 * ( Layout things should happen in components )
 *
 */

/* Multiple Sections */
:is(  page-section, 
      callout-section, 
      deck-section, 
      gallery-section,
      site-footer 
) {
  --header-width        : var(--content-md);
  --introduction-width  : var(--content-md);
  --content-width       : var(--content-md);
}

:is(  page-section,
      deck-section, 
      gallery-section,
      site-footer ) {
  /* Header should match left edge of content wrapper ... */
  &[size="md"] {
    /* Default... see above */
  }
  &[size="lg"] {
    --content-width   : var(--content-lg);
    --header-width    : var(--content-lg);
  }
  &[size="xl"] {
    --content-width   : var(--content-xl);
    --header-width    : var(--content-xl);
  }
  &[size="fw"] {
    --content-width   : var(--context-fw);
    --header-width    : var(--content-fw);
  }

  /* But if the section has an introduction, make the header the same size as the introduction */
  &:has( [slot="introduction"] ){
    --header-width    : var(--introduction-width);
  }
}

:is(  page-section, 
      callout-section, 
      deck-section, 
      gallery-section 
    )::part( header ) {
  
}

:is(  page-section,
      callout-section, 
      deck-section 
    )::part( title ) {
  color           : var(--muted-color);
  font-family     : var(--font-display);
  font-size       : var(--font-size-lg);
  font-weight     : 600;
  line-height     : 0.9em;
  text-transform  : uppercase;
}

:is(  page-section, 
      callout-section, 
      deck-section, 
      gallery-section 
    )::part( introduction ) {
  color       : var(--secondary-color);
  font-size   : var(--font-size-lg);
  font-weight : 200;
  line-height : 1.25em;
}

:is(  page-section, 
      deck-section, 
      gallery-section 
    )::part( content ) {
  color : var(--primary-color);
}

/* Gallery Section */
gallery-section {
  font-size : var(--font-size-sm);
  color     : var(--muted-color);
}
gallery-section::part( title ) {
  font-weight : 600;
}

/* Deck Section */
deck-section {
  --deck-gap  : var(--space-xl);

  & :is( header, hr ) {
    margin-block-start  : var(--space-lg);
    text-transform      : uppercase;
    color               : var(--secondary-color);
  }
  & header::before {
    display             : block;
    position            : relative;
    width               : 50%;
    border-top          : 2px solid var(--secondary-color);
    content             : '';
    padding-block-start : var(--space-xs);
  }

}

/* Page Section */
page-section > card-card {
  margin-block : var(--space-xl);
  --wrapperMaxWidth     : var(--content-width);
}
page-section > p:has( img:only-child ) {
  margin-block : var(--space-xxl);
}

page-section > tag-tag  {
  display : block;
  width   : auto;
}






