.site-header {
  position  : absolute;
  z-index   : 10000;
  top       : 0;
  left      : 0;

  width     : calc( 100% - var(--sidebar-toggle-size));
  display   : flex;
  padding   : var(--space-sm);
  gap       : var(--space-sm);

  font-family : var(--font-header);
  font-size   : var(--font-size-xs);
  /* font-weight : normal; */
  color       : var(--muted-color);

  & h1 {
    justify-self  : center;
    align-self    : center;
    width         : 100%;
    max-width     : var(--content-md);
    margin-inline : auto;
    margin-block  : 0;
    
    font-family     : inherit;
    font-size       : inherit;
    font-weight     : inherit;
    color           : inherit;
    text-transform  : uppercase;
    text-justify  : distribute;
  }
}